{% load static %}
{% load custom_tag %}
<html>
    <head>
        
        <title>{{ title }}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        <style>
            .card-title{
                font-size: 30px;
            }
        </style>
    </head>
    <body>
        <div class="container mt-3 mb-3">
            <div class="card">
                <div class="card-body">
                    {% if original_url %}
                    <h5 class="card-title"><a href="{{ original_url }}">{{ title }}</a></h5>
                    {% else %}
                    <h5 class="card-title">{{ title }}</h5>
                    {% endif %}
                    
                    <h6 class="card-subtitle mt-2">
                        Directed by: <a href="{% url 'detail' 'person' director_link.0|encode director_link.1|encode %}">{{ director_name }}</a>
                    </h6>

                    {% if starring|length > 0 %}
                    <h6 class="card-subtitle mb-2 mt-2">
                        Starring: {% for actor, links in starring.items %}
                            <a href="{% url 'detail' 'person' links.0|encode links.1|encode %}">{{ actor }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </h6>
                    {% endif %}

                    {% if genres|length > 0 %}
                    <h6 class="card-subtitle mb-2 mt-2">
                            Genre: {% for genre, links in genres.items %}
                                <a>{{ genre }}</a>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                    </h6>
                    {% endif %}

                    <br>

                    <p class="card-text">
                        {% if abstract %}
                            {{ abstract }}
                        {% endif %}
                        {% if release_year %}
                        <p>Year: {{ release_year }}</p>
                        {% endif %}
                        {% if imdb_score %}
                        <p>IMDB Score: {{ imdb_score }}</p>
                        {% endif %}
                        {% if budget %}
                        <p>Budget: ${{ budget }} million</p>
                        {% endif %}
                        {% if gross %}
                        <p>Gross: ${{ gross }} million</p>
                        {% endif %}
                        {% if country %}
                        <p>Country: {{ country }}</p>
                        {% endif %}
                        {% if duration %}
                        <p>Duration: {{ duration }} minutes</p>
                        {% endif %}
                        {% if language %}
                        <p>Language: {{ language }}</p>
                        {% endif %}
                        {% if content_rating %}
                        <p>Rating: {{ content_rating }}</p>
                        {% endif %}
                    </p>
                    {% if imdb_link %}
                    <a href="{{ imdb_link }}" class="card-link">IMDB Page</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>
