{% load static %}
{% load custom_tag %}
<html>
    <head>
        <title>{{ name }}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        <style>
            .card-title{
                font-size: 30px;
            }
        </style>
    </head>
    <body>
        <div class="container mt-3 mb-3">
            <div class="card">
                <div class="card-body">
                    {% if original_url %}
                    <h5 class="card-title"><a href="{{ original_url }}">{{ name }}</a></h5>
                    {% else %}
                    <h5 class="card-title">{{ name }}</h5>
                    {% endif %}
                    <p class="card-text">
                        {% if abstract %}
                            {{ abstract }}
                        {% endif %}
                    </p>
                    <p class="card-text">
                        {% if movies %}
                        Movies starred / directed: {% for movie_name, links in movies.items %}
                                <a href="{% url 'detail' 'movie' links.0|encode links.1|encode %}">{{ movie_name }}</a>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
