{% load static %}
<html>

<head>
    <title>MovieDB Indexer</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            background-color: #fff;
            color: #000000;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            font-size: 15px;
            line-height: 1.5;
        }

        .container {
            display: flex;
            flex-direction: column;
            height: 100vh;
            justify-content: center;
            align-items: center;
        }

        .search-form {
            height: 110px;
            width: 35%;
        }

        .searchbox {
            width: 50px;
            height: 50px;
            font-size: 20px;
            float: right;
            border: 3px #ccc solid;
            border-radius: 50%;
            background: #fff;
            /* LINK FOR SEARCH ICON
   https://www.pinclipart.com/picdir/big/485-4851736_free-png-search-icon-search-icon-free-download.png */
            background-image: url("https://www.pinclipart.com/picdir/big/485-4851736_free-png-search-icon-search-icon-free-download.png");
            background-size: 35px;
            background-repeat: no-repeat;
            background-position: center center;
            transition: all 0.5s ease-in-out, box-shadow 0.2s ease-in-out;
        }

        .searchbox:hover {
            cursor: pointer;
            box-shadow: 0 0 10px 0 #7f7f7f;
        }

        .searchbox:focus {
            cursor: text;
            width: 100%;
            border-radius: 25px 25px 25px 25px;
            outline: none;
            text-indent: 15px;
            background-position-x: 97%;
            box-shadow: 0 0 10px 0 #7f7f7f;
        }
    </style>
</head>

<body>
    <div class="container">
            <img draggable="false" width="40%" src="https://image.freepik.com/free-vector/movie-typography-logo-design-with-camera-water_57043-393.jpg" alt="">

        <form autocomplete="off" class="search-form" id="search-form" action="{% url 'index' %}" method="POST">
            <input placeholder="" type="text" class="searchbox" name="keyword" />
        </form>
    </div>

<script>
    var form = document.querySelector("#search-form");
var searchbox = document.querySelector(".searchbox");

// Allows you to submit when you press Enter
// form.addEventListener("submit", function(e) {
//   e.preventDefault();
//   //Insert code here
// });

// Adds the placeholder when the searchbox is in focus
searchbox.addEventListener("focus", function(e) {
  searchbox.setAttribute("placeholder", "Masukkan kata kunci");
});

// Removes Text and the placeholder when the search box is out of focus
searchbox.addEventListener("focusout", function(e) {
  searchbox.value = null;
  searchbox.removeAttribute("placeholder");
});

</script>
</body>
</html>