{% load static %}
<html>

<head>
    <title>MovieDB Indexer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

    <style>
        .row > div{
            padding: 1%;
        }
        .title-name {
            font-size: 20px;
            font-weight: bold;
            padding-top: 2%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .card-item {
            margin: auto;
        }
        .card {
            background-color: #fff192;
            border-radius: 10px;
            border: 3px solid rgba(0,0,0,.1);

        }

        .card-title{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 200px;
        }
        .empty-container{
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 40px;
        }
    </style>
</head>

<body>
    {% if subjects %}
    <div class="container">
        {% for key, value in subjects.items %}
        <div class="title-name">
            <p>{{ key|title }}</p>
        </div>
        <div class="row row-eq-height card-item">
            {% for item in value %}
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ item.type|title }}</h6>
                        <a href="{% url 'detail' item.type item.local_link item.remote_link %}"
                            class="card-link">Detail</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        {% endfor %}
    </div>
    {% else %}
    <div class="empty-container">
        <div>
            Kata kunci "{{keyword}}" tidak ditemukan, coba <a href="/">kembali</a>
        </div>
    </div>
    {% endif %}

</body>

</html>